* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fdf4da;
}

.til {
    /*border: 2px solid red;*/
    height: 100%;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.leftright {
    /*border: 2px solid red;*/
    height: 100%;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: row;
}
.til .leftright .left {
    /*border: 2px solid green;*/
    max-width: 40%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
}

.til .leftright .left h1 {
    font-size: 3em;
    /*border: 2px solid green;*/
    max-width: 50%;
    margin-right: auto;
}

.til .leftright .left a {
    /*border: 2px solid pink;*/
    max-width: 50%;
}
.til .leftright .left p {
    /*border: 2px solid pink;*/
    max-width: 100%;
    margin-top: 50px;
    font-size: 1.5em;
}

.til .leftright .right {
    /*border: 2px solid green;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.til .leftright .right .ColOne {
    /*background-color: red;*/
    width: 50%;
    height: 100%;
    padding: 20px;
}
.til .leftright .right .ColTwo {
    /*background-color: green;*/
    width: 50%;
    height: 100%;
    padding: 20px;
}

.til .btm {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .leftright {
        flex-direction: column;
    }
    .til .leftright .left {
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .til .leftright .left h1 {
        max-width: 100%;
    }
    .til .leftright .right {
        /*border: 2px solid green;*/
        flex-direction: column;
    }
    .til .leftright .right .ColOne {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .til .leftright .right .ColTwo {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .til .btm {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .leftright {
        flex-direction: column;
    }
    .til .leftright .left {
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .til .leftright .left h1 {
        max-width: 100%;
    }
    .til .leftright .right {
        /*border: 2px solid green;*/
        flex-direction: column;
    }
    .til .leftright .right .ColOne {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .til .leftright .right .ColTwo {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .til .btm {
        margin: 20px 0;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
