* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
    color: black;
}

.til {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 150px;
    /*background-color: red;*/
}

.til .aboutsep {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    /*background-color: green;*/
}
.til .aboutsep .first {
    width: 50%;
    height: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid gray;
}
.last {
    border-right: none !important;
    display: none !important;
}
.first p {
    font-size: 20px;
}

.til .first .firstDiv {
    padding-bottom: 20px;
}

.til .first p {
    font-size: 20px;
}
.til .first button {
    margin-left: 10px;
    font-size: 20px;
    padding: 3px 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: black;
    color: white !important;
    cursor: pointer;
}

@media (max-width: 768px) {
    .til {
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .til .first {
        width: 100%;
        border-radius: 20px;
        padding: 5px;
    }
    .til .first p {
        padding-bottom: 10px;
    }
    .til .aboutsep {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
    }
    .til .aboutsep .first {
        width: 100%;
        height: 50%;
        border-radius: 0px;
        border-bottom: 2px solid gray;
        border-right: none;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
