* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

.til {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.til .first {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}

.first p {
    font-size: 20px;
}

.til .first .firstDiv {
    padding-bottom: 20px;
}

.til .first .firstDiv h1 {
    font-size: 7em;
}

.til .first .firstDiv p {
    font-size: 20px;
}
.til .first .firstDiv button {
    margin-left: 10px;
    font-size: 20px;
    padding: 3px 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: black;
    color: white !important;
    cursor: pointer;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .til {
        flex-direction: column;
        height: 150vh;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .til .first {
        width: 100%;
        border-radius: 20px;
        padding: 5px;
    }
    .til .first p {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
