/* #dbdbdb - off white #f2f2f2 - off white #ededed - off white */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: black !important;
}
footer {
    /*border: 2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 90vh;
    position: fixed;
}
.footCont {
    width: 50%;
    height: 100%;
    background-color: white;
    border: 3px solid #ededed;
    border-radius: 50px;
    box-shadow: 0 0 10px #ededed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /*gap: 20px;*/
}
.footCont .leftDiv {
    /*background-color: slategray;*/
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
}

.footCont .leftDiv img {
    width: 70px;
    cursor: pointer;
}
.footCont .contDiv {
    /*background-color: red;*/
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /*margin: 0 20px;*/
    border-right: 1px solid #dbdbdb;
}
.footCont .contDiv button {
    background-color: #ededed;
    color: black;
    font-weight: bolder;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    margin: 0px 20px 0px 20px;
}
.footCont .secondLast {
    width: 50%;
    height: 50%; /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
}
.footCont .secondLast ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    padding: 5px 10px;
    border-radius: 100px;
    gap: 20px;
    list-style: none;
}
.footCont .secondLast ul li a img {
    width: 30px;
}
.footCont .stack {
    width: 10%; /*background-color: red;*/
    height: 50%; /*color: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}
@media (max-width: 768px) {
    footer {
        width: 100%;
        height: 80px;
        margin-top: 90vh;
        position: fixed;
    }
    .footCont {
        width: 95%;
    }
    .footCont .leftDiv {
        width: 5%;
        margin-right: auto;
        margin-left: 20px;
        border: none;
    }

    .footCont .leftDiv img {
        width: 70px;
        cursor: pointer;
    }
    .footCont .contDiv {
        width: 30%;
        gap: 2px;
        border-right: 0px solid #dbdbdb;
        overflow: hidden;

        flex-direction: column;
    }
    .footCont .contDiv button {
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 15px;
    }
    .footCont .secondLast {
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0px solid #dbdbdb;
        /*margin-right: auto;*/
    }
    .footCont .secondLast ul {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        padding: 5px 10px;
        border-radius: 100px;
        gap: 5px;
        list-style: none;
    }
    .footCont .secondLast ul li a img {
        width: 25px;
    }
    .footCont .stack {
        width: 0px;
        display: none !important;
    }
}
