* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
    color: black;
}

/*Hero Body----------------------------*/
.mainCon {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/*Ticker-------------------------------*/
.news {
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 5px 0;
}
.ticker {
    display: inline-block;
    white-space: nowrap;
    animation: slide 20s linear infinite;
}
.ticker span {
    margin-right: 80px;
    color: black;
    font-weight: bold;
}
@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* HEADER --------------------------------------------------------*/
header {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
header .headerlogo {
    width: 60px;
}
header .headerlinks {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin-left: auto;
}
header .headerlinks li a img {
    width: 24px;
    transition: 0.2s ease;
}
header .headerlinks li a img:hover {
    width: 30px;
}
header .contact {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-weight: bolder;
    margin-left: 150px;
}

@media (max-width: 768px) {
    .mainCon {
        width: 100%;
        min-height: 150vh;
        display: flex;
        flex-direction: column;
    }
}
