* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Isidora", monospace;
    color: #fdf4da;
}
.home {
    width: 100%;
    height: 100vh;
}

.home .topTitle {
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.home .topTitle h1 {
    margin-right: auto;
    padding: 20px;
}

.home .catalog {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*background-color: red;*/
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .home .catalog {
        flex-direction: column;
    }
    .home {
        height: 110vh;
    }
    .home .topTitle {
        height: 5%;
        width: 100%;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
