* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
    color: black;
}
.home {
    width: 100%;
    height: auto;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
}

.home .topTitle {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .topTitle h1 {
    /*margin-right: auto;*/
    padding: 20px;
}

.home .catalog {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .home .catalog {
        flex-direction: column;
    }
    .home {
        height: 110vh;
    }
    .home .topTitle {
        height: 10%;
        width: 100%;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
