* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Isidora", monospace;
    color: #fdf4da;
}
.home {
    /*background-color: red;*/
    width: 100%;
    height: 100%;
}

.home .topTitle {
    height: 10%;
    width: 100%;
    /*background-color: green;*/
    justify-content: center;
    align-items: center;
    display: flex;
}
.home .topTitle h1 {
    margin-right: auto;
    padding: 20px;
}

.home .catalog {
    width: 100%;
    height: 90%;
    /*background-color: red*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .home .catalog {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
