* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
}
.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.base {
    width: 90%;
    height: 90vh;
    background-color: #fdf4da;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.base .clsBtn {
    color: black;
    font-size: 40px;
    margin-left: auto;
    padding: 10px 30px 0 0;
    cursor: pointer;
}
.base .mainCont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.base .mainCont .haq {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid gray;
    padding: 20px;
}

.base .mainCont .haq h1 {
    font-size: 4em;
    color: black;
}
.base .mainCont .haq p {
    color: black;
    font-size: 1.5em;
}
.base .mainCont .haq .contactdetails p {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    /*background-color: red;*/
}
.base .mainCont .haq .contactdetails a {
    margin-top: 20px;
    text-decoration: none;
}

.base .mainCont .haq a {
    color: black;
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
}

form {
    /*background-color: red;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form input {
    width: 400px;
    height: 40px;
    padding: 10px;
    color: black;
    font-size: 20px;
}

form textarea {
    width: 400px;
    min-height: 200px;
    resize: none;
    padding: 10px;
    color: black;
    font-size: 15px;
}

form #subject {
    font-weight: bolder;
}

form input:valid {
    background-color: lightgreen;
}

form button {
    width: 400px;
    height: 50px;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in;
    outline: none;
}

form button:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

form #result {
    color: black;
    font-size: 20px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .base .mainCont {
        /*background-color: green;*/
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        width: 100%;
    }
    .base .mainCont .haq {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid gray;
    }
    form {
        gap: 10px;
    }

    form input {
        width: 300px;
        height: 40px;
        font-size: 15px;
    }

    form textarea {
        width: 300px;
        min-height: 200px;
        resize: none;
        padding: 10px;
        color: black;
        font-size: 15px;
    }

    form #subject {
        font-weight: bolder;
    }

    form input:valid {
        background-color: lightgreen;
    }

    form button {
        width: 300px;
        height: 50px;
        background-color: black;
        font-size: 20px;
        cursor: pointer;
        border: none;
        transition: 0.2s ease-in;
        outline: none;
    }

    form button:hover {
        background-color: transparent;
        color: black;
        border: 2px solid black;
    }

    form #result {
        color: black;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
