* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
.Base {
    width: 350px;

    height: 450px;
    backdrop-filter: blur(10px);
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border-radius: 10px;*/
    cursor: pointer;
}
.Base img {
    width: 100%;
    height: 90%;
    margin-bottom: auto;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
.Base h1 {
    color: white;
}
.Base:hover {
    width: 370px;
    height: 450px;
    filter: grayscale(1);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .Base {
        width: 250px;
        height: 350px;
    }
    .Base h1 {
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
    }
    .Base:hover {
        width: 270px;
        height: 350px;
        filter: grayscale(1);
    }
}

@media (max-width: 600px) {
}

@media (max-width: 400px) {
}
