* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .body {
    width: 80%;
    height: 80%;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main .body .back {
    /*background-color: red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: auto;
}
.main .body .back button {
    padding: 5px 50px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.main .body .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: row;*/
    overflow: hidden;
}
.main .body .content .left {
    width: 50%;
    height: 100%;
    /*background-color: pink;*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 100px;
}

.main .body .content .left h2 {
    color: white;
    font-size: 4em;
}
.main .body .content .left p {
    font-size: 2em;
}

.main .body .content .right {
    width: 50%;
    height: 100%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main .body .content .right input {
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: text;
}

.main .body .content .right textarea {
    width: 50%;
    padding: 10px;
    min-height: 15%;
    border: none;
    outline: none;
    cursor: text;
    resize: vertical;
}

.main .body .content .right button {
    width: 50%;
    height: 7%;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    resize: vertical;
}
.main .body .content .right button:hover {
    background-color: #141414;
    color: white;
}
.main .body .content .right p {
    width: 50%;
    font-size: 15px;
    color: gray;
}
