* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
html,
body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    min-width: 50em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    overflow: hidden;
    color: black;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 80px;
}

.navbut ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbut ul li {
    list-style-type: none;
}

.navbut ul li button {
    width: 60px;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    cursor: not-allowed;
    font-size: 15px;
}

.links ul {
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.links ul li {
    list-style: none;
}

.links ul li img {
    width: 30px;
}

.buttons {
    /*background-color: red;*/
    width: auto;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.buttons button {
    padding: 2px 10px;
    background-color: black;
    outline: none;
    border: none;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.buttons .resume {
    background-color: red;
    color: black;
}
p {
    color: white;
    font-size: 3em;
    font-weight: 20p;
}
@media (max-width: 768px) {
    html,
    body {
        width: 100%;
        /*padding: 10px;*/
        display: flex;
        align-items: start !important;
    }

    header {
        min-width: 100%;
        height: auto;
        /*flex-direction: column;*/
        padding: 10px 10px;
        /*gap: 12px;*/
        /*background-color: pink;*/
    }

    .logo img {
        width: 60px;
    }
    .navbut {
        /*background-color: pink;*/
        width: 100%;
    }

    .navbut ul {
        /*flex-wrap: wrap;*/
        gap: 10px;
    }

    .navbut ul li button {
        font-size: 14px;
        /*width: auto;*/
        /*background-color: red;*/
    }

    .links ul {
        gap: 10px;
        display: grid;
        grid: auto-flow dense / 40px 40px 1fr;
    }

    .links ul li img {
        width: 24px;
    }

    .buttons {
        margin-right: 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    .buttons button {
        height: 32px;
        padding: 2px 14px;
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    header {
        width: 100%;
    }

    .navbut ul {
        flex-direction: column;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .buttons button {
        width: 90%;
    }
}
