* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
html,
body {
    width: 100%;
    height: 100vh;
    background-color: black;
    cursor: crosshair;
    /*padding: 10px;*/
}

.mainBody {
    min-width: 100%;
    min-height: 100vh;
    /*background-color: gray;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.mainBody .back {
    /*background-color: red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: auto;
}
.mainBody .back button {
    padding: 5px 50px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.mainBody .back button:hover {
    background-color: #141414;
}

.mainBody .cardmenu {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*background-color: red;*/
    overflow: hidden;
}

.mainBody .cardmenu .card {
    width: 230px;
    height: 450px;
    background-color: #141414;
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2px;
}
.mainBody .cardmenu .card img {
    width: 230px;
    padding: 10px;
    /*background-color: pink;*/
}
.mainBody .card h2 {
    padding: 10px;
    color: white;
}
.mainBody .card p {
    padding: 10px;
    color: white;
    font-size: 12px;
}
.mainBody .card a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 5px;
}
